body {
    margin: 0;
    padding: 0;

    background: #F2F2F2;
    font-family: Montserrat;
}
p {
    margin: 0;
}

.main {
    display: flex;
    padding: 70px 65px;
}

/*MAIN FIRST COLUMN*/
.main-first-col {
    max-width: 33.333%;
    margin-right: 23px;
}


/*BIO CONTAINER*/
.bio-container { 
    background: #FFFFFF;
    border-radius: 12px;

    padding: 23px;
}
.bio-container img {
    max-width: 100%;

    border-radius: 12px;
}

.fullname {
    margin-top: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #4F4F4F;
}
.profession {
    margin-top: 6.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #828282;
}

.email-container, 
.telegram-container {
    display: flex;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #4F4F4F;
}
.email-container svg, 
.telegram-container svg {
    margin-right: 18px;

    width: 20px;    
    height: auto;

    fill: #4F4F4F;
}
.email-container {
    margin-top: 32px;
}
.email-address a{
    text-decoration: none;
    color: #4F4F4F;
}
.telegram-container{
    margin-top: 10.5px;
}

.about-me {
    margin-top: 35.33px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #828282;
}

/*WORK EXPERIENCES AND COURSES*/

.experiences-container,
.courses-container {
    margin-top: 45px;
    padding: 17px 22px;

    background: #FFFFFF;
    border-radius: 12px;
}
.experience-title,
.courses-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #4F4F4F;
}
.experience,
.course {
    margin-top: 44px;
    display: flex;
}
.experience:last-of-type,
.course:last-of-type {
    margin-bottom: 36px;
}
.company-logo,
.course-logo {    
    margin-right: 16px;
    padding: 10px;
}
.experience .company-logo svg,
.course-logo img {
    width: 74px;
    height: 74px;
}
.experience-duration,
.course-duration {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
    color: #828282;
}
.position,
.course-title {
    margin-top: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #333333;
}
.experience-responsibilities,
.course-about {
    margin-top: 33px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #828282;
}

/*main second column*/

.main-second-col {
    width: 100%;
}

/*SKILLS*/

.skills-container {
    padding: 23px;
    background: #FFFFFF;
    border-radius: 12px;
}
.frontend-skills > p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #4F4F4F;
}
.skills-bar-container {    
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}
.skills-bar-container + .skills-bar-container {
    margin-top: 22px;
}
.skills-bar-container:first-of-type {
    margin-top: 17px;
}
.skills-bar-container > p {
    padding-right: 20px;
    min-width: 110px;
}
.skills-bar {
    position: relative;
    width: 100%;
    background: #C4C4C4;
    border-radius: 12px;
}
.skills {
    position: absolute;
    height: 100%;
    
    background: #2F80ED;
    border-radius: 12px;
}
.html {
    width: 80%;
}
.css {
    width: 75%;
}
.js {
    width: 65%;
}
.react {
    width: 50%;
}

/*Projects*/

.projects-container {
    width:100%;
    margin-top: 46px;
}
.projects-count {
    padding: 22px;

    display: flex;
    justify-content: space-between;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #4F4F4F;

    background: #FFFFFF;
    border-radius: 12px;
}
.projects-count svg {
    width: 20px;

    cursor: pointer;
}
.project {
    display: flex;
    margin-top: 16px;
    padding: 23px 18px;


    background: #FFFFFF;
    border-radius: 12px;
}
.project + .project {
    margin-top: 36px;
}
.project-first-col {
    margin-right: 34px;
}
.project-first-col img {
    max-width: 322px;
    border-radius: 12px;
}
.project-sec-col {    
    position: relative;
}
.project-hashtags span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #4F4F4F;
}
.project-hashtags span +span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #4F4F4F;
}
.project-title {
    margin-top: 25px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #333333;
}
.project-description {
    margin-top: 18px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #828282;
}
.project-description a {
    color: #2F80ED;
}
.project-description a:hover {
    color: #858585;
}
.buttons {
    position:absolute;                 
    bottom:0; 

    margin-top: 51px;
    display: flex;
}
.demo-button,
.code-button {
    width: 136.27px;
    height: 46px;

    border-radius: 12px;
    border: none;
    cursor: pointer;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.demo-button{
    margin-right: 12px;
    background: #2F80ED;
    
    color: #FFFFFF;
}
.demo-button:hover {
    background: #858585;
}
.code-button {
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    background: #FFFFFF;
    color: #2F80ED;
}
.code-button:hover {
    background: #ddecff;
}